
/* Source: https://codepen.io/npr/details/reNgPm*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* body { 
    background: url(/images/blue.jpg) repeat 0 0;
} */

.navbar {
     background-color: #1E90FF;
     display: block;
     text-align: center;
     font-family: 'Corben', Georgia, Times, serif;
}
nav a {
     color: white;
}
nav a:hover {
     color: rgba(255, 255, 255, 0.685);
}
.form-login {
     margin-top: 25%;
     padding-top: 10px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
}
.wrapper {
     text-align: center;
}
a.card {
     background-color: #FFFFFF;
     color: rgb(54, 54, 54);
     height: 10%;
     width: 80%;
     font-size: large;
     display: block;
     border-style: solid;
     border-end-end-radius: 2px;
     position: relative;
     z-index: 1;
     padding: 10px;
     margin: 10px;
     text-align: center;
 }

a.card:hover, a.card:focus {
     text-decoration: none;
}

#logo {
     width: 80%;
}

.table > thead > tr > th {
     vertical-align: middle;
}

footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 60px;
     line-height: 60px; /* Vertically center the text there */
     background-color: #f5f5f5;
}

footer > .container {
     padding-right: 0px;
     padding-left: 0px;
     margin-left: 0px;
}

p.desc {
     padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    min-height: 1px;
}

.col-form-label {
     color: white;
     padding-right: 0px;
     padding-left: 0px;
     text-align: center;
     border: solid;
     border-color: grey;
     border-radius: 10px;
     background-color: grey;
}

footer button {
     height: 40px;
     width: 100%;
}

#groupList button {
     width: 50px;
}

#desc {
     height: auto;
}

#searchResult {
     font-size: 1.3rem;
}

.body {
     padding-bottom: 60px;
}

.modal {
     top: 250px;
}

body.modal-open .supreme-container{
     -webkit-filter: blur(1px);
     -moz-filter: blur(1px);
     -o-filter: blur(1px);
     -ms-filter: blur(1px);
     filter: blur(1px);
 }

@media (min-width: 768px) {
.container {
    max-width: 768px;
}
}
